.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
} */

.App-header {
  .App-header {
    background-color: #282c34;
    height: 60px; /* Set the desired height for the navigation bar */
    width: 100%; /* Full width of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    top: 0; /* Fix the navigation bar to the top of the viewport */
    left: 0;
    z-index: 100; /* Set a higher value if it needs to be on top of other elements */
  }
  
}


.sidebar{
  z-index: 9999;
  background-color: rgba(30, 29, 29, 0.8);
  border-radius:  0 20px 20px 0 ;
  padding-bottom: 10px;
  border: 2px solid transparent; /* Add a transparent border to reserve space for the blurred effect */
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3); /* Apply a box-shadow to create the blurred border */
}
.sidebar h2 {
  margin-bottom: 10px; /* Optional: Add some spacing between the header and links */
  text-align: center;
  color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,monospace;
  font-size: xx-large;
  font-weight: bold;
}
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 20px;
  justify-items: center; /* Center the items horizontally within the grid cells */
  margin-bottom: 10px;
}



.categories li {
  margin-bottom: 10px; /* Optional: Add some spacing between the category links */
  
}

/* Style for the close button, assuming it has the class "sidebar-close-button" */

.sidebar-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100%;
  border: #f0f0f0 solid 2px;
  /* border: none; */
  background: none;
  color: wheat; /* Set the desired color for the close button */
  /* opacity: 100% !important; */
}

.sidebar-close-button:hover {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100%;
  border: #f0f0f0 solid 2px;
  /* border: none; */
  background: none;
  color: wheat; /* Set the desired color for the close button */
  /* opacity: 100% !important; */
  transform: rotate(180deg);

}

/* Optional: Style the links inside the sidebar */

.categories li a {
  color: #333; /* Set the desired color for the links */
  text-decoration: none;
}

.categories li a:hover {
  text-decoration:blink;/* Optional: Add an underline on hover */
  /* font-size: large; */
  font-weight: bolder;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px; /* Optional: Add some space between the cells */
  margin: 20px;
  
}

/* Optional: Add some styling to the links */
.categories li {
  list-style: none; /* Remove bullet points */
  height: 20px;
  width: 120px;
  margin: 10px;
  
  
}

.categories li a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0; /* Set the background color */
  text-align: center;
  text-decoration: none;
  color: #333; /* Set the text color */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.categories li a:hover {
  background-color: bisque; /* Optional: Change the background color on hover */
}




